main {
  display: flex;
  justify-content: center;
  /* responsive: para agrupar varios en la pag, que no queden en linea */
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* para responsive */
  width: 100%;
  max-width: 800px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}


.movies {
  list-style: none;
  margin: 0;
  padding: 0;
/* esto lo hace responsive */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 32px;
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
}
