.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

/* que todos los filters, a cada div */
.filters > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}